# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [2]:
my_set= set([i for i in range(1,11)])
print(my_set)
my_set.remove(1)
my_set.add(11)
print (my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [6]:
arr=[i for i in range(1,6)]
arr2=[i for i in range(1,6) if i%2==0]
set1=set(arr)
set2=set(arr2)
print(set1,set2)
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5} {2, 4}
{1, 2, 3, 4, 5}
{2, 4}
{1, 3, 5}
{1, 3, 5}

In [12]:
my_set={i*i for i in range(1,11)}
print(my_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [14]:
new_set={i for i in my_set if i%2==0}
print(new_set)

{64, 100, 4, 36, 16}

In [15]:
l={1,2,3,4,3,2,1}
print(l)

{1, 2, 3, 4}

In [18]:
a={ i for i in range(1,6)}
b= {i for i in range(1,4)}
print(b.issubset(a))
print(a.issuperset(b))

True
True

In [22]:
j={ i for i in range(1,6)}
print(frozenset(j))

frozenset({1, 2, 3, 4, 5})

In [32]:
dic={
    frozenset({1,2}):10
}
print(dic)

{frozenset({1, 2}): 10}

In [36]:
for i in my_set:
    print(i,end=" ")

64 1 4 36 100 9 16 49 81 25

In [42]:
re_set={i for i in range(1,11)}
print(re_set)
while re_set:
    re_set.pop()
    print(re_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

In [44]:
a={1,2,3,4}
b={3,4,6,7}

a.symmetric_difference_update(b)
print(a)

{1, 2, 6, 7}

In [46]:
a={1,2,3,4}
print(4 in a)

True

In [47]:
m={(1,2),(3,4)}
print(m)

{(1, 2), (3, 4)}

In [4]:
names = ["john", "ala", "ilia", "sudan", "mercy"] 
marks = [100, 200, 150, 80, 300]
b={i:j for i in names for j in marks}
print(b)

{'john': 300, 'ala': 300, 'ilia': 300, 'sudan': 300, 'mercy': 300}

In [1]:
a={1,2,3}
print(max(a))

3