# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [18]:
arr =[9, 8 ,7,4, 4,2,1 ,1 ,9, 8]

print(set(arr))

{1, 2, 4, 7, 8, 9}

In [81]:
def sample(tup):
       maxi=max(tup)
       mini=min(tup) 
       sum=0
       for i in tup:
                sum=sum+i
       print(maxi)
       print(mini)
       print(sum)

         
    
tups=(1,2,3,4,5,6)
sample(tups)

6
1
21

In [45]:
tup=((1,2,3),
     (4,5,6),
     (7,8,9)
     )
for row in tup:
    print(row)
for i in tup[1]:
     print(i,end =" ")
print()
for i in tup[2]:
     print(i,end=" ")

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
4 5 6
7 8 9

In [46]:
tup1=(1,2,3)
tup2=(4,5,6)
result=tup1+tup2
print(result)

(1, 2, 3, 4, 5, 6)

In [50]:
tup9=(1, 2, 3, 4, 5, 6,1,4,6,3,2,3,2)
print(tup9.count(2))
print(tup9.index(2))

3
1

In [51]:
tup9=(1, 2, 3, 4, 5, 6,)
a,b,*c,d,e=tup9
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
[3, 4]
5
6

In [55]:
tup9=(1, 2, 3, 4, 5, 6)
a=list(tup9)
a.append(6)
print(tuple(a))

(1, 2, 3, 4, 5, 6, 6)

In [52]:
tup=((1,2,3),(2,3,4),(0,9,8))
for i in tup:
    print(i)

(1, 2, 3)
(2, 3, 4)
(0, 9, 8)

In [69]:
tup=((1,2,3),(2,3,4),(0,9,8))
for i in tup:
    for j in i:
        print(j,end =" ")

1 2 3 2 3 4 0 9 8

In [58]:
tup5=("S","t","r","i","n","g")
St="".join(map(str,tup5))
print(St)

String

In [66]:
dic={
    "u":(1,2,3),
    "v":("kaiku"),
    "l":(1,2,3)
}
print(dic)

{'u': (1, 2, 3), 'v': 'kaiku', 'l': (1, 2, 3)}